<template>
  <div class="container">
    <h1 class="title">Lista de restaurantes</h1>
    <div class="columns">
      <div class="column" v-for="restaurant in restaurants">

          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img v-bind:src="restaurant.image" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
                <p class="title">{{restaurant.name}}</p>
                <p class="subtitle">{{restaurant.address}}</p>
            </div>
            <footer class="card-footer">
              <router-link :to="'/restaurants/' + restaurant.id + '/menu'" class="card-footer-item">Menu</router-link>
            </footer>
          </div>

      </div>
    </div>

    <b-loading :is-full-page="true" :active.sync="loading" :can-cancel="false"></b-loading>
  </div>
</template>

<script>
export default {

  data () {
    return {
      restaurants : [],
      loading : true
    }
  },
  methods : {

    fill(){
      this.loading = true;

      fetch('https://challange.goomer.com.br/restaurants')
      .then(response => response.json())
      .then(json => {
        this.restaurants =  json;
        this.loading = false;
      });

    }
  },
  created(){

    console.log('restaurantlist created')

    this.fill();

  },
  mounted(){
    console.log('restaurantlist mounted')

  }
}
</script>
