<template>
  <div class="container">


    <router-link to="/restaurants" class="button is-primary">Voltar</router-link>

    <h1 class="title">{{restaurant.name}}</h1>
    <h2 class="subtitle">{{restaurant.address}}</h2>

    <div class="columns is-multiline">
      <div class="column is-4" v-for="menu in menus">

          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img v-bind:src="menu.image" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
                <p class="title">{{menu.name}}</p>
                <p class="subtitle">R$ {{menu.price}}</p>
                <div class="tags">
                  <span class="tag is-primary">{{menu.group}}</span>
                </div>
            </div>
          </div>

      </div>
    </div>

    <b-loading :is-full-page="true" :active.sync="loading" :can-cancel="false"></b-loading>
  </div>
</template>

<script>
export default {
  props: ['id'],
  data () {
    return {
      restaurant : {
        name : null,
        image : null,
        address: null
      },
      menus : [],
      loading : true
    }
  },
  methods : {

    fillRestaurant(){
      this.loading = true;

      fetch('https://challange.goomer.com.br/restaurants/' + this.id)
      .then(response => response.json())
      .then(json => {
        this.restaurant =  json;
        this.fillMenus();
      });

    },
    fillMenus(){
      fetch('https://challange.goomer.com.br/restaurant/' + this.id + '/menu')
      .then(response => response.json())
      .then(json => {
        this.menus =  json;
        this.loading = false;
      });

    }
  },
  created(){

    console.log('restaurantmenu created')

    this.fillRestaurant();

  },
  mounted(){
    console.log('restaurantmenu mounted')

  }
}
</script>
