<template>
  <div class="container">

    <b-modal :active.sync="modalActive" has-modal-card>
        <div class="modal-card" style="width: auto">
          <header class="modal-card-head">
              <p class="modal-card-title">Criar novo grupo</p>
          </header>
          <section class="modal-card-body">
              <b-field label="Nome">
                  <b-input
                      type="text"
                      v-model="group.name">
                  </b-input>
              </b-field>

          </section>
          <footer class="modal-card-foot">
              <button class="button" type="button" @click="group.name = '';modalActive = false;">Cancelar</button>
              <button class="button is-primary" @click="groupCreate()" v-bind:disabled="group.name.length < 2">Criar</button>
          </footer>
      </div>
    </b-modal>

    <h1 class="title">Lista de usuários</h1>
    <div class="has-mb-4">
      <router-link to="/users/create" class="button is-primary is-medium">Novo Usuário</router-link>
      <button class="button is-primary is-medium" v-bind:disabled="group.users.length < 2" @click="modalActive = true">Novo Grupo</button>
    </div>
    <div class="card">
      <table class="table is-fullwidth">
      <thead>
        <th></th>
        <th>Código</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Idade</th>
        <th>Actions</th>
      </thead>
      <tbody>
        <tr v-for="user in users">
          <td>
           <b-checkbox v-model="user.selected" v-on:change.native="checkChange(user)"></b-checkbox>
          </td>
          <td>{{user.id}}</td>
          <td>{{user.name}}</td>
          <td>{{user.email}}</td>
          <td>{{user.age}}</td>
          <td>
            <router-link :to="'/users/' + user.id + '/edit'" class="button is-warning">Editar</router-link>
            <button class="button is-danger" @click="remove(user)">Remover</button>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
    <b-loading :is-full-page="true" :active.sync="loading" :can-cancel="false"></b-loading>
  </div>
</template>

<script>
import UserModel from '@/services/UserModel'
import GroupModel from '@/services/GroupModel'
export default {

  data () {
    return {
      modalActive:false,
      users : [],
      loading : true,
      group : {
        name : '',
        users : []
      }
    }
  },
  methods : {
    groupCreate(){

       GroupModel.insert(this.group).then((res)=>{
        this.modalActive = false;
        this.group.name = "";
        this.fill();
      }).catch((err)=>{
        console.error(err);
      });

    },
    checkChange(user){

      var index = this.group.users.indexOf(user);
      var included = index != -1;

      if(!included && user.selected == true){
        this.group.users.push(user);
      }
      else if(included && user.selected == false){
        this.group.users.splice(index, 1);
      }

    },
    remove(user){
      UserModel.delete(user.id).then((res) =>{
        console.log(res.data);
        this.fill();
      }).catch((err)=>{
        console.error(err);
      })
    },
    fill(){
      this.loading = true;
      UserModel.all().then((res) =>{

        let users = res.data.data;

        for(var i = 0; users.length > i; i++){
          users[i].selected = false;
        }

        this.users = users;

        this.loading = false;
      }).catch((err)=>{
        console.error(err);
      })
    }
  },
  created(){

    console.log('userlist created')

    this.fill();

  },
  mounted(){
    console.log('userlist mounted')

  }
}
</script>
