<template>
  <div class="container">
    <h1 class="title">Lista de grupos</h1>
    <div class="card">
      <table class="table is-fullwidth">
      <thead>
        <th>Código</th>
        <th>Nome</th>
        <th>Usuários</th>
        <th>Ações</th>
      </thead>
      <tbody>
        <tr v-for="group in groups">
          <td>{{group.id}}</td>
          <td>{{group.name}}</td>
          <td>{{group.users.length}}</td>
          <td>
            <router-link :to="'/groups/' + group.id + '/users'" class="button is-warning">Usuários</router-link>
            <router-link :to="'/groups/' + group.id + '/edit'" class="button is-warning">Editar</router-link>
            <button class="button is-danger" @click="remove(group)">Remover</button>

          </td>
        </tr>
      </tbody>
    </table>
    </div>
    <b-loading :is-full-page="true" :active.sync="loading" :can-cancel="false"></b-loading>
  </div>
</template>

<script>
import GroupModel from '@/services/GroupModel'
export default {

  data () {
    return {
      groups : [],
      loading : true
    }
  },
  methods : {


    remove(group){
      // UserModel.delete(user.id).then((res) =>{
      //   console.log(res.data);
      //   this.fill();
      // }).catch((err)=>{
      //   console.error(err);
      // })
    },
    fill(){
      this.loading = true;
      GroupModel.all().then((res) =>{

        let groups = res.data;

        this.groups = groups;

        this.loading = false;
      }).catch((err)=>{
        console.error(err);
      })
    }
  },
  created(){

    console.log('grouplist created')

    this.fill();

  },
  mounted(){
    console.log('grouplist mounted')

  }
}
</script>
