<template>
  <div class="container">

    </b-modal>

    <h1 class="title">Lista de usuários do grupo: {{group.name}}</h1>
    <div class="has-mb-4">
      <router-link to="/groups" class="button is-primary is-medium">Voltar</router-link>
    </div>
    <div class="card">
      <table class="table is-fullwidth">
      <thead>
        <th>Código</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Idade</th>
        <th>Ações</th>
      </thead>
      <tbody>
        <tr v-for="user in group.users">
          <td>{{user.id}}</td>
          <td>{{user.name}}</td>
          <td>{{user.email}}</td>
          <td>{{user.age}}</td>
          <td>
            <button class="button is-danger" @click="remove(user)">Remover</button>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
    <b-loading :is-full-page="true" :active.sync="loading" :can-cancel="false"></b-loading>
  </div>
</template>

<script>
import GroupModel from '@/services/GroupModel'
export default {
  props: ['id'],
  data () {
    return {
      loading : true,
      group : {
        name : '',
        users : []
      }
    }
  },
  methods : {
    remove(user){
      GroupModel.deleteUser(this.group.id, user.id).then((res) =>{
        console.log(res.data);

        if(res.data.removed){
          this.$router.push({name:'groups'});
        }
        else{
          this.fill();
        }


      }).catch((err)=>{
        console.error(err);
      })
    },
    fill(){
      this.loading = true;
      GroupModel.find(this.id).then((res) =>{

        let group = res.data.data;

        this.group = group;

        this.loading = false;
      }).catch((err)=>{
        console.error(err);
      })
    }
  },
  created(){

    console.log('userlist created')

    this.fill();

  },
  mounted(){
    console.log('userlist mounted')

  }
}
</script>
