<template>
  <div class="container">
    <h1 class="title">Cadastrar novo usuário</h1>
    <div class="has-mb-4">
      <router-link to="/users" class="button is-primary is-medium">Voltar</router-link>
    </div>
    <div class="card">
      <div class="card-content">
        <b-field label="Nome">
            <b-input v-model="form.name"></b-input>
        </b-field>
        <b-field label="Email">
            <b-input v-model="form.email"></b-input>
        </b-field>
        <b-field label="Age">
            <b-input v-model="form.age"></b-input>
        </b-field>
        <button class="button is-success" @click="send()">
          Enviar
        </button>
      </div>

    </div>
    <b-loading :is-full-page="true" :active.sync="loading" :can-cancel="false"></b-loading>
  </div>
</template>

<script>
import UserModel from '@/services/UserModel'
export default {

  data () {
    return {
      loading: false,
      form : {
        name : 'João Carlos',
        email : 'joaocrleite@gmail.com',
        age : '27'
      }
    }
  },
  methods : {
    send(){

      console.log('sended');

      UserModel.insert(this.form).then((res)=>{
        console.log(res.data);
        this.$router.push({name:'users'});
      }).catch((err)=>{
        console.error(err);
      });
    }
  },
  created(){
    console.log('usercreate created')
  },
  mounted(){
    console.log('usercreate mounted')
  }
}
</script>
