<template>
  <div class="container">
    <h1 class="title">Editar usuário</h1>
    <div class="has-mb-4">
      <router-link to="/users" class="button is-primary is-medium">Voltar</router-link>
    </div>
    <div class="card">
      <div class="card-content">
        <b-field label="Nome">
            <b-input v-model="user.name"></b-input>
        </b-field>
        <b-field label="Email">
            <b-input v-model="user.email"></b-input>
        </b-field>
        <b-field label="Age">
            <b-input v-model="user.age"></b-input>
        </b-field>
        <button class="button is-success" @click="save()">
          Salvar
        </button>
      </div>

    </div>
    <b-loading :is-full-page="true" :active.sync="loading" :can-cancel="false"></b-loading>
  </div>
</template>

<script>
import UserModel from '@/services/UserModel'
export default {
  props: ['id'],
  data () {
    return {
      loading: true,
      user : {
        name : '',
        email : '',
        age : ''
      }
    }
  },
  methods : {
    save(){
      console.log('saved');
      UserModel.update(this.id, this.user).then((res)=>{
        console.log(res.data);
        this.$router.push({name:'users'});
      }).catch((err)=>{
        console.error(err);
      })
    }
  },
  created(){
    console.log('useredit created')

  },
  mounted(){
    console.log('useredit mounted')

    UserModel.find(this.id).then((res)=>{
      if(res.data){
        this.user = res.data;
        this.loading = false;
      }else{
        alert("Usuário não encontrado");
        this.$router.push({name:'users'});
      }
      console.log(res.data);
    }).catch((err)=>{
      console.error(err);
    })

  }
}
</script>
