<template>
  <nav class="navbar is-dark has-mb-4" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <router-link to="/users" class="navbar-item">Usuários</router-link>
        <router-link to="/groups" class="navbar-item">Grupos</router-link>
        <router-link to="/restaurants" class="navbar-item">Restaurantes</router-link>
      </div>

      <div class="navbar-end">

      </div>
    </div>
    </div>
  </nav>
</template>

<script>
export default {
  name: 'HelloWorld',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  }
}
</script>
