<template>
  <div>
    <h1>Register</h1>
    <p>
      <input type="email" v-model="email" name="email" placeholder="email">
    </p>
    <p>
      <input type="text" v-model="name" name="name" placeholder="name">
    </p>
    <p>
      <input type="text" v-model="age" name="age" placeholder="age">
    </p>
    <p>
      <button type="submit" v-on:click="register">Submit</button>
    </p>
  </div>

</template>

<script>
import Auth from '@/services/Auth'
export default {
  name: 'HelloWorld',
  data () {
    return {
      email: '',
      name: '',
      age: ''
    }
  },
  methods: {
    async register () {
      console.log('register init')
      const res = await Auth.register({
        email: this.email,
        name: this.name,
        age: this.age
      })

      console.log(res.data);

    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
input{
  width : 300px;
  padding: 8px;
}
</style>
